.filters {
    display:flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.block {
    border: 1px solid black;
    padding: 35px;
    display: flex;
    align-items: center;
}



.text-style {
    display: flex;
    gap: 5px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 23px
}

.text-style button {

    padding: 15px;
    border: none;
   }

.text-style button:hover{
    background-color: rgb(109, 190, 190);
}
