.list-header {
    color: #ffffff;
    background-color: #8fbc8f;
}

.light-list {
    background-color:#f5f5dc;
}

.selected-list-item {
    background-color: #000000;
    color: #dd191f;
}

.dark-list {
    background-color: #644af7;
}

